body {
	background-color: #34314c;
	padding: 0;
	margin: 0;
}
span {
	margin-top: 5px;
	font-size: 25px;
}
#login {
	background: rgba(255,255,255,0.2);
	margin-top: 10%;
	border-radius: 3px;
}
#title {
	font-size: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0 0 30px #000;
	margin: 15px auto 30px auto;
}
#error {
	background-color: #ff7473;
	color: #fff;
	height: 30px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	display: none;
	
}
#spanError{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
}
#labelEmail{
	color: #fff;
	text-shadow: 0 0 20px #000;
}
#labelMdp{
	color: #fff;
	text-shadow: 0 0 20px #000;
}
#souvenir {
	text-align: left;
	margin-top: 10%;
}
.ui.checkbox label {
	color: #fff;
	text-shadow: 0 0 30px #000;
	font-family: 'Open Sans', sans-serif;
}
#connexion{
	margin-top: 5%;
}